{% extends 'base.html' %}
{% load crispy_forms_filters %}


{% block content %}

<h1>{{business.business_name}}</h1>
<h1>Total BTR: ${{ business.get_btr|floatformat:2 }}</h1>
<br>
<br>
<div class="container">
    <form method="post" action="{% url 'business_edit' business.pk %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <!--<div class="mb-3">
            <label for="{{ form.business_industry.id_for_label }}" class="form-label">Business Industry </label>
            <br/>
            {{ form.business_industry }}
        </div>
        <div class="mb-3">
            <label for="{{ form.ownership_type.id_for_label }}" class="form-label">Ownership Type </label>
            <br/>
            {{ form.ownership_type }}
        </div>
        {% if form.ownership_type == "Corporation" %}
            <div class="mb-3">
                <label for="{{ form.corp_type.id_for_label }}" class="form-label">Corporation Type </label>
                <br/>
                {{ form.corp_type }}
            </div>
        {% endif %}

        <div class="mb-3">
            <label for="{{ form.num_pumps.id_for_label }}" class="form-label">Service Station (Number of Pumps, if applicable) </label>
            <br/>
            {{ form.num_pumps }}
        </div>
        <div class="mb-3">
            <label for="{{ form.num_seats.id_for_label }}" class="form-label">Food Facility (Number of Seats, if applicable)</label>
            <br/>
            {{ form.num_seats }}
        </div>
        <div class="mb-3">
            <label for="{{ form.num_trucks.id_for_label }}" class="form-label">Number of Trucks (if applicable)</label>
            <br/>
            {{ form.num_trucks }}
        </div>
        <div class="mb-3">
            <label for="{{ form.num_employees.id_for_label }}" class="form-label">Manufacturer/Assembly (Number of Employees, if applicable)</label>
            <br/>
            {{ form.num_employees }}
        </div>
        <div class="mb-3">
            <label for="{{ form.sqft.id_for_label }}" class="form-label">Square Feet of Area</label>
            <br/>
            {{ form.sqft }}
        </div>
        <div class="mb-3">
            <label for="{{ form.wholesale_retail.id_for_label }}" class="form-label">Wholesale or Retail?</label>
            <br/>
            {{ form.wholesale_retail }}
        </div>
        <div class="mb-3">
            <label for="{{ form.avg_inventory.id_for_label }}" class="form-label">Average Dollar ($) Value of Inventory</label>
            <br/>
            ${{ form.avg_inventory }}
        </div>-->
        <br>
        <button class="btn btn-info ml-2" type="submit">Update</button>
    </form>
</div>
<br>
<br>
<br>
<a href="{% url 'business_form_input' %}"><button class="btn btn-info ml-2">Back to Search</button></a>
<br>
<br>
<br>

{% endblock content %}