{% extends 'base.html' %}

{% block title %}Drivers Licenses{% endblock title %}

{% block content %}

<h1>Driver's Licenses</h1>
        <table id="Drivers_License" class="table table-striped">
            <thead class="thead-dark">
            <tr>
            <th>SunBiz ID</th>
            <th>Business Name</th>
            <th>Drivers License </th>
            </tr>
            </thead>
            <tbody>
            #{% if business.drivers_license %}
                {% for business in businesses %}
                    <tr>
                        <td>{{ business.sunbiz_id }}</td>
                        <td>{{ business.business_name }}</td>
                        <a href="{{ business.drivers_license.url }}"><td>{{ business.drivers_license }}</td></a>
        
        
                        </tr>
                    {% endfor %}
            #{% else %}
                <p>No results found.</p>
            #{% endif %}
        
        

{% endblock content %}
