<style type = "text/css">
    #legend {
        background-color: lightcyan;
        display: inline-flexbox
    }



</style>

{% extends 'base.html' %}


{% block title %}Income Streams{% endblock title %}

{% block content %}
    <h1 style="color:green;text-align: center;">Income Streams</h1>
    <a href="{% url 'income_new' %}"><button>+ Add Income Stream</button></a>

    {% if incomes %}
    <h1 style="text-align: center;">Total Income: ${{ total_income|floatformat:2 }}</h1>

    <div id="income-streams">
        {% for income in incomes %}
                <div id="paid_card" class="card" align = "left">
                    <div class="card-header">
                        <h2><span class="font-weight-bold" style = "color:green">{{ income.title }}</span></h2> &middot;
                        <h3><span class="text-muted">{{ income.pay_date }}</span></h3>
                    </div>
                    <div class="card-body">
                        <span class="font-weight-bold"> ${{ income.amount|floatformat:2 }} </span>
                    </div>  
                    <div class="card-footer">
                        <a href="{% url 'income_edit' income.pk %}">Edit</a> | <a href="{% url 'income_delete' income.pk %}">Delete</a>
                    </div>  

                </div>
                <br />
        {% endfor %}
        {% else %}
        <h3>You have not inputted any Income Streams yet</h3>
        {% endif %}



    </div>

{% endblock content %}