<style type = "text/css">
    #legend {
        background-color: lightcyan;
        
        
       
    }

    #legend-paid-expenses {
        text-align: left;
        color:green;
        display: inline

    }
    #legend-unpaid-expenses {
        text-align: right;
        color: red;
        display: inline

    }

    #unpaid_card {
        text-align: right;
        display: block;


    }

    #paid_card {
        
        text-align:left;
        display: block;


    }

</style>

{% extends 'base.html' %}


{% block title %}Liabilities{% endblock title %}


{% block content %}
<br/>
<br/>
<h2 style="text-align: center;">Total Liabilities: ${{ total_liabilities|floatformat:2 }} </h2>
<br/>
<br/>



<a href="{% url 'liabilities_new' %}" style="color:black;"><button>+ Add Liability</button></a>
<br/>
<br/>
    <div id="fixed-expense-column">
        {% for liability in liabilities %}
                <div id="paid_card" class="card">
                    <div class="card-header">
                        <h2 class="font-weight-bold">{{ liability.title }} </h2> 
                    </div>
                    <div class="card-body">
                        <h3 class="font-weight-bold"> ${{ liability.amount|floatformat:2 }}</h3> 
                    </div>  
                    <div class="card-footer">
                        <a href="{% url 'liabilities_edit' liability.pk %}">Edit</a> | <a href="{% url 'liabilities_delete' liability.pk %}">Delete</a>
                    </div>  

                </div>
                <br />

        {% endfor %}


    </div>



{% endblock content %}