{% extends 'base.html' %}


{% block content %}
<br/>
<br/>
<h1 style="text-align: center;">Networth Breakdown</h1>
<br/>
<br/>
{% if networth >= 0 %}
<h3 style="text-align: center;">Total Net Worth</h3><h3 style="color: green;text-align: center;">${{ networth|floatformat:2 }}</h3>


{% else %}
<h3 style="text-align: center;">Total Net Worth</h3><h3 style="color: red;text-align: center;">${{ networth|floatformat:2 }}</h3>
{% endif %}

<br/>
<br/>
<h1 style="text-align: center;">Assets</h1>
<table id="Assets" class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>Asset</th>
      <th>Amount</th>
      <th>Asset Type</th>
    </tr>
</thead>
<tbody>
{% for asset in assets %}
    <tr>
      <td>{{ asset.title }}</td>
      <td>${{ asset.amount|floatformat:2 }}</td>
      <td>{{ asset.asset_type }}</td>
    </tr>
{% endfor %}
    <tr>
        <td><strong>Total Assets</strong></td>
        <td><strong>${{ total_assets|floatformat:2 }}</strong></td>
    </tr>
</tbody>
  </table>
<br/>
<br/>
<h1 style="text-align: center;">Liabilities</h1>
<table class="table table-striped" id="Fixed_Expenses">
    <thead class="thead-dark">
        <tr>
            <th>Liabilities</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for liability in liabilities %}
        <tr>
            <td>{{ liability.title }}</td>
            <td>${{ liability.amount|floatformat:2 }}</td>

        </tr>
        {% endfor %}
        <tr>
            <td><strong>Total Liabilities</strong></td>
            <td><strong>${{ total_liabilities|floatformat:2 }}</strong></td>
        </tr>
    
    </tbody>

</table>
<br/>
<br/>


{% endblock content %}