<style type = "text/css">
    #legend {
        background-color: lightcyan;
        
        
       
    }

    #legend-paid-expenses {
        text-align: left;
        color:green;
        display: inline

    }
    #legend-unpaid-expenses {
        text-align: right;
        color: red;
        display: inline

    }

    #unpaid_card {
        text-align: right;
        display: block;


    }

    #paid_card {
        
        text-align:left;
        display: block;


    }

</style>

{% extends 'base.html' %}


{% block title %}Variable Expenses{% endblock title %}


{% block content %}
<br/>
<br/>
<h2 style="text-align: center;">Total Variable Expenses Left: ${{ total_variable_expenses_sum|floatformat:2 }} </h2>
<br/>
<br/>
<button><a href="{% url 'variable_expenses_new' %}" style="color:black;">+ Add Variable Expense</a></button>
<br/>
<br/>



    <div id="fixed-expense-column">
        {% for expenses in variable_expenses_summary %}
                <div id="paid_card" class="card">
                    <div class="card-header">
                        <h2 class="font-weight-bold">{{ expenses.title }}</h2>
                    </div>
                    <div class="card-body">
                        <h3 class="font-weight-bold"> ${{ expenses.remaining_amount|floatformat:2 }} </h3> 
                    </div>  
                    <div class="card-footer">
                        <a href="{% url 'variable_expenses_edit' expenses.pk %}">Edit</a> | <a href="{% url 'variable_expenses_delete' expenses.pk %}">Delete</a>
                        <br/>
                        <br/>
                        <a href="{% url 'spending_list' %}">
                            <button>Spent: ${{ expenses.total_spent|floatformat:2 }}</button>
                            </a>
                    </div>  

                </div>
                <br />

        {% endfor %}


    </div>



{% endblock content %}